.app {
    .page-content {
        padding-top: 100px;
        text-align: center;
    }
}

.emp{
    padding-top: 3vw;
    padding-right: 200px; 
    margin-left: 115px;
}

.left-align{
    margin-left: 95px;
}

.Line {
    width: 90%;
    height: 1px;
    border: solid 1px #374148;
    margin-left: 95px;
  }

  .img{
      margin-top:-20px; 
  }

  .name{
      color:white;
  }